/*CSS file*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700|Poppins:200,200i,300,300i,400,500,500i,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700|Poppins:200,200i,300,300i,400,500,500i,600,700,800,900&display=swap");

body {
background-color:#6BC7F1;
font-size: 50px;
font-family: "Open Sans", sans-serif;
font-weight: normal;
font-style: normal;
}

h2{
	font-size: 50px;
	font-weight: 700;
	margin-top: 20px;
	line-height: 60px;
	color: #191d34;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
}

input{
    width: 430px;
	margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
}

#main-wrapper{
	border-radius : 10px;
	background-color: white;
	border: 3px solid #f1f1f1;
	width: 500px;
	margin: 0 auto;
	font-size: 15px;
	font-weight: 700;
	color: #191d34;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-style: normal;
}
.inner_container{
	width:450px;
	margin:0 auto;
}
.login_button {
    background-color: #4CAF50;
    color: white;
	margin-top:10px;
    padding:10px;
    width: 100%;
	font-size:18px;
	font-weight: bold;
}
.back_btn{
	background-color: #3498db;
    color: white;
	margin-top:10px;
	margin-bottom:15px;
	padding:10px;
    width: 100%;
	font-size:16px;
	font-weight: bold;

}
.back_btn{
	margin-top:10px;
	color: white;
	margin-bottom:15px;
    padding: 10px;
    background-color: #e67e22;
}
.logout_button{
	background-color: #c0392b;
    color: white;
	margin-top:10px;
    padding:10px;
    width: 100%;
	font-size:18px;
	font-weight: bold;
}

.sign_up_btn {
	background-color: #3498db;
    color: white;
	 padding:10px;
	margin-top:10px;
	margin-bottom:10px;
    width: 100%;
	font-size:16px;
	font-weight: bold;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

.container {
    margin: 16px;
	width:100%;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
